comet-ml
cloudpickle
crafter
opencv-python==4.7.0.72
gym[atari]==0.19.0
jax[cuda12]
jaxlib
optax
rich
ruamel.yaml==0.17.2
tensorflow-cpu
tensorflow_probability
flax
# for cuda 11
# https://jax.readthedocs.io/en/latest/installation.html#nvidia-gpu
# pip install --upgrade pip
# pip install --upgrade "jax[cuda11_pip]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

# used python version 3.10.12
